body {
    font-family: Arial, sans-serif;
    margin: auto;
    padding: 0 0;
    color: black;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color:rgb(32, 31, 31);
    width: auto;
   
}

header .navigacioni {
    font-size: 20px;
    font-weight: bold;
    color: white;
    
}

header nav a {
    margin: 20px 40px;
    font-size: 20px;
    color: white;
    font-weight: bold;
}

.klasa-produkteve {
    background-image: url(../../../Desktop/mainback.jfif);
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
    padding: 40px 20px;
}

.boxi-produkteve {
    background-image: url(../../../Desktop/back.jfif);
    border-radius: 10px;
    width: 300px; 
    height: 350px; 
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.boxi-produkteve img {
    max-width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}

.boxi-produkteve h3 {
    font-size: 24px;
    margin: 10px 0;
    color: black;
}

.boxi-produkteve p {
    font-size: 21px;
    color: black;
    font-weight: bold;
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    header nav a {
        margin: 10px 0;
        font-size: 18px;
    }

    .klasa-produkteve {
        gap: 20px;
        padding: 20px 10px;
    }

    .boxi-produkteve {
        width: 250px;
        height: auto;
        padding: 15px;
    }

    .boxi-produkteve h3 {
        font-size: 20px;
    }

    .boxi-produkteve p {
        font-size: 18px;
    }
}


@media (max-width: 480px) {
    header nav a {
        font-size: 16px;
    }

    .klasa-produkteve {
        gap: 10px;
        padding: 10px 5px;
    }

    .boxi-produkteve {
        width: 200px;
        padding: 10px;
    }

    .boxi-produkteve h3 {
        font-size: 18px;
    }

    .boxi-produkteve p {
        font-size: 16px;
    }
}