body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url("fotot e projektit/backgroundgreengrey.jfif");
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    box-sizing: border-box;
    overflow-x: hidden;
    padding-top: 80px; /* Add padding to account for fixed navbar */
    color: white;
}



.klasa-signup {
    background-color:black;
    width: 350px;
    padding: 30px 20px;
    border-radius: 10px;
    text-align: center;
}

.klasa-signup h1 {
    font-size: 35px;
    margin-bottom: 20px;
    color: green;
}



form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 15px;
    color: white;
}

input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 15px;
    
}


button {
    padding: 10px;
    background-color:green;
    color: white;
    font-size: 20px;
    border-radius: 5px;
}


.linki-login {
    margin-top: 15px;
    font-size: 15px;
}

.linki-login a {
    color: green;
    font-weight: bold;
}