.simple-header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: rgb(32, 31, 31);
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.simple-header .navigacioni {
    font-size: 24px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    cursor: pointer;
    transition: color 0.3s ease;
}


.simple-header .navigacioni:hover {
    color: #4CAF50;
} 